html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(skyblue, white);
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  flex-direction: column;
}

.MTop15 {
  position: absolute;
  top: 60vw;
}
.MTop15 input, button {
  /* background-color: #93febc; */
  /* border: #27fa78 1px solid; */
  /* padding: 20px; */
  font-size: 20px;
}

.FS64 {
  font-size: 100px;
  margin: 0;
}

span {
  font-size: 24px;
}

svg {
  position: absolute;
  z-index: -1;
}

* {
  overflow: hidden;
}


#container > div{
  margin: 10px
}
.orange, .green, .letter {
  padding: 20px;
  height: 50px;
  width: 50px;
  margin: 5px;
}
.orange {
  background-color: orange;
}
.green {
  background-color: greenyellow;
}

.Tright {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 3;
  width: -moz-fit-content;
  width: fit-content;
}

.Trightl {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 6%;
  right: 2%;
  z-index: 3;
  width: -moz-fit-content;
  width: fit-content;
}

.Tleft {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 3;
  width: 220px;
}

a {
  text-decoration: none;
  color: black;
}

.M0 {
  margin: 0;
}

th {
  border-bottom: 1px grey solid;
}

td {
  border-bottom: 1px grey solid;
}

.br1 {
  border-right: 1px grey solid;
  margin-right: 20px;
}

#draggable {
  position: absolute;
  right: 5%;
  bottom: 40%;
  z-index: 5;
  padding: 5px;
}

.alert {
  margin: 5PX;
  padding: 5px 10px 5px 10px;
  background-color: rgb(255, 107, 107);
  border-radius: 10px;
  border: 3px red solid;
  display: none;
}

.alert {
  margin: 5PX;
  padding: 5px 10px 5px 10px;
  background-color: rgb(255, 107, 107);
  border-radius: 10px;
  border: 3px red solid;
  display: none;
}